:root {
  --prymery-text-color: #737373;
  --tittle-text-color: #000000;
  --akcent-color: #0a8bfe;
  --prymery-bgc: #ffffff;
  --white-color: #FFFFFF;
  --black-color: #000000;
}

body {
  background-color: var(--prymery-bgc);
  color: var(--prymery-text-color);
font-weight: 400;
  font-size: 16px;
  letter-spacing: normal;
  font-family: Roboto, sans-serif;

}

/* СПИСКИ */
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
/* header */

.logo {
    color: var(--white-color);
}
.header {
    background-color: var(--black-color);
   
}
.site-nav .link {
    color: var(--white-color);
    font-family: Roboto, sans-serif;
    
    font-size: 13px;
    
    line-height: 30px;
    letter-spacing: 0em;    
}
.link {
    text-decoration: none;
    font-style: normal;
}
.button-header {
    color: var(--white-color);
    background-color: var(--black-color);
    font-family: Roboto;
    font-size: 13px;
    font-weight: inherit;
    line-height: 16px;
    letter-spacing: 0em;
/* border: 1px solid #000000; */
}

/* HERO */
 .section-hero {
     background-color: var(--black-color);
 }
 .hero {
     color: var(--white-color);
    
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0em; 
 }
 .text {
color: var(--white-color);

font-size: 11px;
line-height: 2.72;
/* letter-spacing: 0em; */
 }
 .link-button {
     color: var(--white-color);
     background-color: var(--akcent-color);

    font-family: inherit;
    font-size: 15px;
    
    line-height: 30px;
    letter-spacing: 0em;
    text-decoration: none;
    border-radius: 4px;
 }

 /* Your reliable web and app development partner*/

 .section-tittle {
     font-size: 26px;
     line-height: 1.38;
     color: var(--prymery-text-color);
 }
 .text-tittle {
     color: var(--prymery-text-color);
     line-height: 1.88;
 }
 .desc {
    font-size: 11px;
    line-height: 2.72;
    color: var(--prymery-text-color);
 }

 /* Where are you now?*/
 .tittle {
    font-size: 41px;
    line-height: 1.22;
  font-weight: 400;
    color: var(--tittle-text-color);
 }
 .desc-tittle {
    font-size: 12px;
    line-height: 2.5;

 color: var(--prymery-text-color);
 }
 .button-link {
   font-family: inherit;
    font-size: 24px;
    line-height: 1.58;
   border: none;
    color: var(--tittle-text-color);
    background-color: var(--prymery-bgc);
 }
 .button-link:hover,
 .button-link:focus {
     color: var(--akcent-color);
 }
 .heading {
    font-size: 19px;
    line-height: 1.47;
color: var(--tittle-text-color);
 }

 /* We're proud of our work */
 .section-proud {
     background-color: palevioletred;
 }
 .title {
    font-size: 41px;
    line-height: 1.22;
    
    color: var(--white-color);
 }
 .number {
    font-size: 42px;
    line-height: 1.19;

    color: var(--white-color);
 }
 .heading-proud {
    font-size: 24px;
    line-height: 1.58;
color: #000000;
 }

 /*  */
 .caption {
     font-weight: 400;
    font-size: 42px;
    line-height: 1.19;
  
    color: var(--tittle-text-color);
 }

 /* Regional partnerships */
.text-app {
    font-size: 15px;
    line-height: 2;
color: #737373;
}
.text-logo {
    font-size: 20px;
line-height: 1.4;
color: #000000;
}